@using DojoSurvey.Models
@model Survey
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>
    <form action="/survey" method="post">
        <div class="name">
            <label for="Name">Your Name</label>
            <input type="text" name="Name">
        </div>
        <div class="loc">
            <label for="Location">Dojo Location</label>
            <select name="Location">
                <option selected hidden disabled></option>
                <option value="San Jose">San Jose</option>
                <option value="Boston">Boston</option>
            </select>
        </div>
        <div class="lang">
            <label for="Language">Favorite Langauge</label>
            <select name="Language">
                <option selected hidden disabled></option>
                <option value="C#">C#</option>
                <option value="JavaScript">JavaScript</option>
            </select>
        </div>
        <div class="com">
            <label for="Comment">Comment (optional):</label>
            <textarea name="Comment" cols="30" rows="10" style="resize: none;"></textarea>
        </div>
        <button type="submit" style="align-self: flex-end; padding: 0.25rem;">Submit</button>
    </form>
</body>

</html>